.container {
  display: flex;
  flex-direction: column;
}

.dateContainer {
  width: 100%;
}

.menuContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
